In [ ]:

--delete vs drop vs truncate in sql
-- delete ->to delete any specific row or column data from table
delete from emp where id=2;

--truncate ->to delete complete data from table but column name/structure will be there
truncate table emp;

--drop ->all data + table will be deleted
drop table emp;

select * from emp;