In [ ]:
-- and/or/not/in
-- and
-- give emp details who are from hr dept and aslo salry is 100000
select * from employee where dept='hr' and salary = 100000

-- give the employee details who are from hr department or from location usa
select * from employee where dept='hr' or location='usa'

--or/in
--give me emp details of employee wwhere ID is 2,3,4,6
select * from emp where id =2 or id=3 or id=4 or id=6;
select * from emp where id in(2,3,4,6);

-- not in
-- give emp details where id not in (2,3,4,5,6)
select * from employee where id not in (2,3,4,5,6);