In [ ]:
-- unique records
-- keyword (Distinct)
select distinct(id),name from empl;


-- coalesce in sql
-- to handle null values in a table

-- replace null phone numbers with unknown
select name,coalesce(phone,'unknown') from employees;

-- interview ques
-- select the first available email (first non null values)
-- if primary email is null then take value from alternate email column
select name,coalesce(email,alternate_email) from employee;

select name,coalesce(email,alternate_email,'unknown') from employee;

-- calculate the total compensation (salary + bonus):
select salary + coalesce(bonus,0) from employees;