In [ ]:
-- top/limit in sql

-- query 1:how to get only first 3 record from table

--sql server
select top 3 * from employee;

--mysql
select * from employee limit 3;

-- query 2:how to get 50% records from table
select top 50 percent * from employee;

-- query 3: write query to get top 2 highest salary of eployee
select top 2 * from employee order by salary desc;

-- query 4: write query to get bottom 2 salary of employee
select top 2 * from employee order by salary asc;

-- query 5: query to get top 2 records from india based on salary
select top 2 * from employee
where location='India'
order by salary desc;