In [ ]:
-- aggregate in sql
-- how to find maximum salary of empl from emp1 table
select max(salary) from employee;

-- how to find minimum salary of emp 
select min(salary) from employee;

-- total salary of employee
select sum(salary) from employee;

-- find total no of employee
select count(id) from employee;

-- find avg salary of employee
select avg(salary) from employee