In [ ]:
-- update in sql
-- update employee location as INDIA where location is null
UPDATE emp set location='india'
where location is null;

-- update salary as 100000 for shyam
update emp set salary=10000
where name='shyam';

-- update salary as 1000000 if its null
update emp set salary =10000
where salary is null;