In [ ]:
-- group by in sql
-- we use group by clause to group rows based on the value of cloumns.
-- find no of customers in each country
select count(customers),country from employee
group by country;

-- find no of emmp present in each  location
select count(id) as cnt,location from employee
group by location;

--find highest salary employee from each location
select max(salary) as max_salary, location from employee
group by location;

--find lowest salary employee from each location
select min(salary) as min_salary, location from employee
group by location;

-- find total salary from each location
select sum(salary), location from employee
group by location