In [ ]:
-- CTE
-- a common table expression in sql is a temp result set that you can 
--reference within a select, insert, update or delete statement

-- cte's are oftern used to simplify complex queries,
-- make queries more readable and allow for recursive queries.

-- cte's are powerful for organizing sql code,
-- especially in muli-step analysis or whn calculating intermediate results.

--syntax
select * from employees1;

with cte as (
select * from employees1
)
select * from cte;

-- find the 3rd highest salary from empl table
select *,dense_rank() over(order by salary)as drk 
from employees1;

with cte1 as
(
select *,dense_rank() over(order by salary desc)as drk 
from employees1
)

select * from cte1 where drk=1;

-- find second lowest salry of emp


with cte1 as
(
select *,dense_rank() over(order by salary asc)as drk 
from employees1
)

select * from cte1 where drk=2;