In [ ]:
--alter in sql
-- the alter statemnt is used to change the structure of a table after it has been created.
-- this helps when you need to update the schema without losing existing data.


-- add new column salary int in the existing table withouut dropping it
alter table employees_2023 add salary int;

-- change the schema of salary column from int to varchar
alter table employees_2023 alter column salary varchar(128);
alter table employees_2023 alter column salary int;

-- delete column salary from the existing table
alter table employees_2023 drop column salary